body{
  font-family: Inter-Regular;
  font-size: var(--fs-body-regular);
  line-height: var(--lh-body-regular);
  z-index: var(--z-index-main-content);
}

h1, h2, h3, h4, h5{
  font-family: Inter-Bold;
}

h1{
  font-size: var(--fs-header-1);
  line-height: var(--lh-header-1);
}

h2{
  font-size: var(--fs-header-2);
  line-height: var(--lh-header-2);
}

h3{
  font-size: var(--fs-header-3);
  line-height: var(--lh-header-3);
}

h4{
  font-size: var(--fs-header-4);
  line-height: var(--lh-header-4);
}

h5{
  font-size: var(--fs-header-5);
  line-height: var(--lh-header-5);
}

h6{
  font-size: var(--fs-header-6);
  font-family: Inter-Regular;
}

.icon{
  display: block;
}

.action-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter-Regular;
  font-size: var(--fs-body-regular);
  background: var(--pale-green);
  color: var(--green);
  border-radius: 2px;
  height: 40px;
  width: clamp(120px, 168px, 168px);
  position: relative;
  z-index: var(--z-index-modal);
} 

.action-button:hover{
  color: white;
}

.action-button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.action-button::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--green);
  z-index: -1;
  transition: transform .4s ease;
}
