
[data-icon="home"] {
  background-image: url("../assets/icons/nav/home.svg");
}

[data-icon="records"] {
  background-image: url("../assets/icons/nav/records.svg");
}

[data-icon="music"] {
  background-image: url("../assets/icons/nav/music-note.svg");
  width: 21px !important;
}

[data-icon="artists"] {
  background-image: url("../assets/icons/nav/artists.svg");
}

[data-icon="concerts"] {
  background-image: url("../assets/icons/nav/calendar.svg");
}

[data-icon="instagram"] {
  background-image: url("../assets/icons/social/instagram.svg");
}

[data-icon="youtube"] {
  background-image: url("../assets/icons/social/youtube.svg");
}

[data-icon="twitter"] {
  background-image: url("../assets/icons/social/twitter.svg");
}

[data-icon="facebook"] {
  background-image: url("../assets/icons/social/facebook.svg");
}

[data-icon="play"] {
  background-image: url("../assets/icons/basic/triangle-play.svg");
}