#carousel-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(2 * var(--gap));
}

#carousel{
  /* --card-width: min(30vw, 570px); */
  --card-width: 100vw;
  --card-gap: 3em;
  --transition: all 0.5s ease;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--card-gap);
  position: relative;
  transition: var(--transition);

  --position: 0;
  --shift: calc((var(--card-width) + var(--card-gap)) * var(--position));
  left: var(--shift);
}

@media screen and (min-width: 550px){
  #carousel{
    --card-width: min(75vw, 550px);
  }
}
@media screen and (min-width: 750px){
  #carousel{
    --card-width: min(50vw, 550px);
  }
}
@media screen and (min-width: 1000px){
  #carousel{
    --card-width: min(33vw, 550px);
  }
}

#carousel .card{
  display: flex;

  background-color: var(--white);
  width: var(--card-width);
  height: clamp(225px, 10vw, 325px);
  opacity: 0.5;
  gap: 1em;
  align-items: flex-start;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  padding: 1.5em 0.75em 1em 0.75em;

  position: relative;
  top: 0;
  left: 0;
}

#carousel .card[data-active]{
  opacity: 1;
}

#carousel .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.5em;
}

#carousel[data-position="-2"]{ --position: -2; }
#carousel[data-position="-1"]{ --position: -1; }
#carousel[data-position="0"]{ --position: 0; }
#carousel[data-position="1"]{ --position: 1; }
#carousel[data-position="2"]{ --position: 2; }

#carousel-container .button-group{
  display: flex;
  gap: calc(2 * var(--gap));
}

#carousel-container .icon{
  height: 16px;
  width: 16px;
  filter: invert(5%) sepia(96%) saturate(7481%) hue-rotate(212deg) brightness(83%) contrast(110%);
}

#carousel-container button{
  display: flex;
  align-items: center;
  gap: 1em;
}

#carousel-container button .background{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--pale-blue);
  border-radius: 50%;
  width: 68px;
  height: 68px;
  transition: background-color 0.4s ease;
}

@media (hover: hover) {
  #carousel-container button .background:hover{
    background-color: var(--navy);
  }

  #carousel-container button .background:hover .icon{
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
  }
}

#new-releases #soul{
  max-width: 35%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

#carousel p{
  width: 100%;
  color: var(--gray);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 1.2;
}

#carousel h4{
  color: var(--navy);
}

#carousel h6{
  color: var(--green);
}

/* #carousel .content{
  display: flex;
  border: 1px solid green;
} */
