 #artist-bio{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 0 2em 4rem 2em;
  height: 120vh;
  margin-bottom: calc(10 * var(--page-spacing));
}

#artist-bio *{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 400px){
  #artist-bio{
    padding: 0 2em 0 2em;
    margin-bottom: calc(6 * var(--page-spacing));
  }
}

#artist-bio > .wrapper{
  display: grid;
  grid-template-rows: auto-fit;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  max-width: 1138px;
  max-height: 700px;
}

#artist-bio > .wrapper > *{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 1050px) {
  #artist-bio > .wrapper{
    grid-template-columns: repeat(2, 50%);
    grid-auto-flow: row;
  }
}

#artist-bio .desc{
  gap: 1em;
  height: 100%;
}

#red-hat{
  max-height: 455px;
  object-fit: contain;
  filter: drop-shadow(var(--drop-shadow));
}

#artist-bio h3{
  color: var(--navy);
}

#artist-bio p{
  color: var(--gray);
}

#learn-more{
  z-index: var(--z-index-main-content);
}