#get-in-touch{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--navy);
  padding: 0;
  margin: 0;
  height: 100%;
  margin-top: var(--page-spacing);
}

#get-in-touch > *{
  height: 100%;
  padding: 0;
}

#get-in-touch > .form-container{
  flex: 3;
  padding: 2em;
}

#get-in-touch > .image-container{
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100% !important;
  margin-top: calc(-1 * var(--page-spacing)); 
}

#get-in-touch .form-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}

#get-in-touch .form-container contact-form *,
#get-in-touch p{
  color: var(--gray);
}

#get-in-touch p{
  width: 50%;
  font-size: var(--fs-body-large);
}

#get-in-touch .form-container textarea, 
#get-in-touch .form-container input{
  border: 1px solid var(--gray);
  border-radius: 2px;
}

#get-in-touch ::placeholder {
  opacity: 1;
}

#contacting-select select, 
#contacting-select option{
  font-family: Inter-Medium;
  appearance: none;
}

#contacting-select select:hover, 
#get-in-touch input:focus,
#get-in-touch input:active,
#get-in-touch textarea:hover,
#get-in-touch input:hover{
  border: 2px solid var(--navy);
  color: var(--navy);
}

#get-in-touch input:hover::placeholder, 
#get-in-touch textarea:focus{
  color: var(--navy);
}

contact-form > *{
  margin-bottom: 1.5em;
}

contact-form > ul{
  display: grid;
  grid-template-columns: none;
  gap: 1em;
  font-size: var(--fs-body-regular);
}

#get-in-touch input, #get-in-touch select{
  padding: 1em 0.5em 1em 0.5em;
}

#get-in-touch label{
  display: flex;
  flex-direction: column;
  font-size: var(--fs-body-regular);
}

#get-in-touch label > span{
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

#harry{
  aspect-ratio: 2/3;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 850px) {
  #get-in-touch{
    flex-direction: row;
  }
  contact-form > ul{
    grid-template-columns: auto auto;
  }

  contact-form{
    width: 75%;
  }
}