footer{
  --gap: 1em;

  background-color: var(--navy);
  color: var(--white);
  font-size: var(--fs-body-large);
  padding: var(--gap);
}

footer, 
#sitemap,
#sitemap *{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sitemap{
  width: 100%;
  justify-content: space-between;
  gap: var(--gap);
  padding: calc(2 * var(--gap));
}

#sitemap > *:not(#business-column){
  padding: var(--gap);
  padding-top: 0;
}

footer .column{
  font-size: var(--fs-body-regular);
  gap: calc(0.5 *var(--gap));
}

footer .column > ul > li{
  padding: 0.25em 0 0.25em 0;
}

#business-column{
  padding-bottom: calc(2 * var(--gap));
}

#business-column,
#business-column address{
  gap: var(--gap);
}

#business-column,
#business-column address,
#business-column address > *{
  align-items: flex-start;
}

#additional-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--white);
  gap: var(--gap);
  padding-top: var(--gap);
  flex: 1;
}

#additional-links > ul{
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

#social-links > ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: calc(2.5 * var(--gap));
}

@media screen and (min-width: 770px) {
  #sitemap{
    flex-direction: row;
    align-items: flex-start;
  }

  #sitemap .column,
  #sitemap > .column > *{
    align-items: flex-start;
  }
} 