header{
  --gap: clamp(1rem, 4vw, 4rem);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
  color: var(--navy);
  font-family: Inter-Medium;
  position: fixed;
  z-index: var(--z-index-modal);
  left: 0;
  width: 100vw;
  height: var(--header-offset);
  padding: 0.5em 1rem 0.5em 1rem;
}

@media screen and (min-width: 850px) {
  header{
    padding: 0.5em 2rem 0.5em 2rem;
  }
}

header .logo{
  min-width: 94px;
  aspect-ratio: 13/5;
  object-fit: contain;
  z-index: var(--z-index-fixed);
}

nav-bar{
  padding: 0em 1em 0em 1em;
}

.link-group, 
.link-list{
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.link-list .icon{
  height: 20px;
  width: 20px;
  /* filter used so icon stroke color can match var(--navy) */
  filter: invert(9%) sepia(36%) saturate(7067%) hue-rotate(217deg) brightness(92%) contrast(104%);
}

.link-list a{
  display: flex;
  gap: 0.8em;
  font-size: var(--fs-body-large);
}

.responsive-wrapper{
  display: none;
}




